*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

:root {
    --color-logo:#000000;
    --color-background:#FFFFFF;
    --color-textbase:#757575;
    --color-title:#212121;
    --color-hoover:#2196F3;
    --color-section:#2F303A;
    --color-button-background:#F5F4FA;
    --color-hero-background:#C4C4C4;
    --color-social-link:#AFB1B8;

}
body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color:var(--color-textbase)
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-block {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    }

.header-nav {
    display: flex;
    
}
.logo {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    margin-right: 93px;
    
}
.logo-base {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-hoover);
}
.logo-part {
color: var(--color-logo);
}
.icon {
    margin-right: 10px;
}
.link-nav {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-title);
    padding: 31px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    
    
}
.link-nav:hover, .link-nav:focus, .top-adress:hover, .top-adress:focus, .current {
    color: var(--color-hoover);
    fill: var(--color-hoover);
    
}
.current::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-hoover);
    border-radius: 2px;
    bottom: 0;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    
    
    }

.top-adress {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-textbase);
    fill: var(--color-textbase);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      
}

    
/*Main*/

.hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto 0 auto;
    background-color: var(--color-hero-background);
    
    }
.img-overlay {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-background);
    text-align: center;
    margin-bottom: 30px;
}
.hero-button {
    padding: 2px 2px;
    min-width: 216px;
    height: 50px;           
    background: var(--color-hoover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-background);
    border: none;
    cursor: pointer;
    align-items: center;
    
      
}
/*Особливості-Feautures*/

.visually-hidden {
    width: 1px;
   height: 1px;
   margin: 1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.features-list {
    display: flex;
    gap: 30px;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--color-title);
    text-transform: uppercase;
    margin-bottom: 10px;

}
.icon-box {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-background);
    margin-bottom: 30px;
    border-radius: 4px;
}
.lorem {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.72;
        letter-spacing: 0.03em;
}
/*icons on features card*/

.feuture-card {
    display: flex;
    flex-direction: column;
}

/*Чим займаємось-What we do*/

.what-we-do-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 50px;
}
.what-we-do-list {
    display: flex;
    justify-content: space-between;
    }
.what-we-do {
    padding-top: 0px;
}
.what-we-do-lable {
    position: relative;
}
.lable {
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display:flex;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    padding: auto;
    z-index: 1;
}
 
    /*Команда*/  
    
.teams {
        /*outline: 2px solid tomato;*/
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: #F5F4FA;
    }
.teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--color-title);
        text-align: center;
        margin-bottom: 50px;

}
.teams-list {
    display: flex;
    justify-content: space-between;

}
.name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-title);
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;

}
.position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-textbase);
        text-align: center;
        
    
}
.teams-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.social {
    display: flex;
    margin: 16px 32px 30px 32px;
    justify-content: center;
    gap: 10px;
    
    }
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-social-link);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.social-link:hover {
background-color: var(--color-hoover);
fill: var(--color-background);

}
/*Постійні клієнти-Clients*/
.clients-block {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.clients-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--color-social-link);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon:hover {
    fill: var(--color-hoover);
    border: 1px solid var(--color-hoover);
    
        }

/*Футер*/
.footer {
    height: 252px;
    background: var(--color-section);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-invert {
    color: var(--color-background);
}
.list-footer {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 81px;
    align-content: center;
    gap:9px;


}
.map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--color-background);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map:hover, .map:focus, .footer-adress:hover, .footer-adress:focus {
    color: var(--color-hoover);
    
}
 
.footer-adress {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
 
.footer-block {
    display: flex;
    align-items: baseline;
        
}
.footer-social {
    display: flex;
    flex-direction: column;
    margin-left: 70px;  
    
    
}
.footer-social p {
    text-transform: uppercase;
    color: var(--color-background);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-background);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .footer-social-link:hover,
 .footer-social-link:focus {
    background-color: var(--color-hoover);
   
        
}
.footer-social .social {
    margin:0px
}
/*Футер-форма*/
.form__footer {
    
    margin-left: auto;
    
}
.form__footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form__footer__field-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    color: var(--color-background);
    width: 358px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.form__footer__field-input:focus {
    border: 1px solid var(--color-hoover);
    outline: var(--color-hoover);
}

.subscribe {
    display: flex;
    width: 100%;
}
.footer-button {
    margin-left: 12px;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--color-background);
    background-color: var(--color-hoover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}
.footer-button:hover {
    background-color: #188CE8;
}
.footer-button:focus {
    background-color: #188CE8;
}

.icon-send {
    fill: var(--color-background);
    margin-left: 10px;
}

    /*Портфоліо*/

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    justify-content: center;
    gap: 8px;
    
}

.button-portfolio{
    min-width: 73px;
    padding: 6px 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--color-title);
    background: var(--color-button-background);
    border-radius: 4px;
    border: 0em;
    cursor: pointer;
   }
.button-portfolio:hover, .button-portfolio:focus {
    color: var(--color-background);
    background-color: var(--color-hoover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1)
   }
   

.projects-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

}
.item {
    
    flex-basis: calc((100% - 60px) / 3);
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.item:hover, .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.item:hover .card-overlay {
    transform: translatey(0%);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--color-title);
    margin-bottom: 4px;
        
    }
.project-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--color-textbase);
        
}
.projects-description{
    margin: 20px 24px;
}

.projects-card {
    position: relative;
    overflow: hidden;

}
.card-overlay {
    
    position: absolute;
    background-color: var(--color-hoover);
    top: 0;
    left: 0;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.card-overlay>p {
    display: flex;
    margin: 0px;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--color-background);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
/*Modal window - Модальне вікно*/

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    width: 528px;
    height: 581px;
    
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
    fill: var(--color-hoover);
}

/*Форма замовлення*/

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 12px;
}
.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form__field-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color:var(--color-textbase);
    margin-bottom: 4px;
}
.form__field-input {
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px 12px 10px 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.icon-input {
    fill: var(--color-title);
    position: absolute;
    top: 29px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form__field-textarea {
    cursor: pointer;
    resize: none;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field-input:focus, .form__field-textarea:focus {
    border: 1px solid var(--color-hoover);
    outline: var(--color-hoover);
    

}
.form__field-input:focus+.icon-input {
    fill: var(--color-hoover);
}
.form__field-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-textbase);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
        
}
.checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox:checked+ .icon-checkbox{
    fill: var(--color-background);
    border-color: #2196F3;
    background-color: var(--color-hoover);
}
.policy-link {
    color: var(--color-hoover);
    margin-left: 4px;
    text-decoration-skip-ink: none;
}
.icon-checkbox {
    background-color: transparent;
    fill: transparent;
    border: 2px solid var(--color-title);
    border-radius: 2px;
    margin-right: 7px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
      
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: var(--color-hoover);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.order-button:focus {
    background-color: #188CE8;
}
.order-button:hover {
    background-color: #188CE8;
}



